html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

h1, h4 {
  font-weight: bold;

}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px 0px 1.5em;
}

.bannercontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 12px 0px 1.5em;
  height: 100%;
  width: auto;
}

.container {
  color: white;
  max-width: 960px;
  margin: 0 auto;
}

.banner {
  background-color: black;
  width: auto;
  height: 2.32rem;
}

.banner img {
  height: 1.5rem;
  padding-right: 15px;
}

.banner span {
  font-size: 1rem;
  color: white;
}

.newarrival {
  background-image: url(./../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.newarrivaltext {
  background-color: black;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

.newarrivaltext h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: .25em 0;
}

.navbar {
  background-color: firebrick;
  color: white;
}



nav ul {
  display: flex;
  justify-content: space-between;
  padding: .75em 0;
}

.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;

}

.product {
  width: 30%;

}

.productimg {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productimg img {
  max-width: 8em;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: .5em;
}

.info {
  width: 35%;
}

.locationhours {
  background-color: black;
  display: block;
  color: white;
  padding: 1em 2em;
}

.latlong, .hours {
  color: black;

}

footer {
  background-color: black;
  color: white;
  padding: 5em 0;
  margin-top: 4em;
}

@media only screen and (min-width: 1024px) {
  .mobilenav {
    display: none;
  }
}


/*tablet in landscape mode*/

@media only screen and (max-width: 1024px) {

  body {
    font-size: 16px;
  }

  .product.glasses {
    display: none;
  }

  .product {
    width: 47%;
  }

  nav ul {
    display: none;
  }

  .mobilenav {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 470px) {

  .newarrival {
    height: 15rem;
  }

  .newarrivaltext {
    padding: 1rem 2rem;
    width: auto;
    top: 10em;
    height: 3.5rem;
  }

  .newarrivaltext h1 {
    font-size: 1rem;
    margin: 0;
  }

  .newarrivaltext h4 {
    font-size: .77rem;
    margin: 0 0 .75rem 0;
  }

  .products {
    justify-content: center;
  }

  .product.watch {
    display: none;
  }

  .product {
    width: 90%;
  }

  .business-info {
    flex-wrap: wrap;
  }

  .info {
    margin: .5em auto;
    width: 90%;
  }

  footer {
    text-align: center;
  }
}
